.individualCard {
    border: 2px solid var(--clr-dark);
    transition: all .3s ease-in-out;
    font-size: inherit;
    border-radius: 15px;
    max-width: 425px;
}

.individualCard img {
    width: 100%;
    border-radius: 13px 13px 0 0;
}

.individualCard p {
    margin: 1em;
    color: var(--clr-dark);
    font-size: .9em;
}

.individualCard:hover {
    background-color: var(--clr-accent);
    cursor: pointer;
    transform: scale(1.05);
}

.individualCard:hover p {
    color: var(--clr-light);
}

button {
    font-family: inherit;
    font-size: .8em;
    color: var(--clr-light);
    background-color: var(--clr-dark);
    padding: 1em 2em;
    margin-top: 1em;
    border-radius: .75em;
    border: 2px solid var(--clr-dark);
}

button:hover {
    cursor: pointer;
    color: var(--clr-dark);
    background-color: var(--clr-light);
}