.individualCard {
    display: grid;
    border: 2px solid var(--clr-dark);
    transition: all .3s ease-in-out;
    font-size: inherit;   
    max-width: 95%;
    padding: 1em;
    margin: 1em auto;
}

.individualCard p {
    margin: 1em;
    color: var(--clr-dark);
    font-size: .9em;
}

.individualCard:hover {
    background-color: var(--clr-accent);
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 3px 3px 3px 3px #919191;
}

.individualCard:hover p {
    color: var(--clr-light);
}

.code-button {
    font-family: inherit;
    font-size: .8em;
    color: var(--clr-light);
    background-color: var(--clr-dark);
    padding: .75em 1.75em;
    border: 2px solid var(--clr-dark);
}

.code-button:hover {
    cursor: pointer;
    color: var(--clr-dark);
    background-color: var(--clr-light);
}

.code-button:active {
    transform: scale(.9);
}