.App {
  display: grid;
}

.main-body {
  margin: 0 auto;
  width: 95%;
}

img {
  width: 100%;
  max-width: 720px;
}

a {
  text-decoration: none;
  color: var(--clr-light);
}

button:hover {
  cursor: pointer;
}

@media (min-width: 700px) {
  .main-body {
    width: 80%;
  }
}