.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

h1::before,
h1::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h1::before {
  background: var(--clr-light);
  animation: typewriter var(--typewriterSpeed) steps(16) 1s forwards;
}

h1::after {
  width: 4px;
  background: var(--clr-dark);
  animation:
    typewriter var(--typewriterSpeed) steps(16) 1s forwards,
    blink 750ms steps(16) infinite;

}

.navigation {
  position: sticky;
  top: 0;
  z-index: 1;
}

.navigation,
.footer {
  display: flex;
  justify-content: space-evenly;
  color: var(--clr-light);
  background-color: var(--clr-accent);
}

.navigation span:hover,
.footer span:hover {
  cursor: pointer;
  color: var(--clr-dark);
  text-decoration: underline;
}

.main-body {
  margin: 0 auto;
  width: 75%;
}

img {
  width: 100%;
  max-width: 720px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--clr-light);
}

.footer {
  margin-top: auto;
}

@media (min-width: 700px) {
  .main-body {
    width: 85%;
  }
}

@media (min-width: 1200px) {
  .image {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}