.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  display: inline;
  font-size: 4.5em;
  position: relative;
}

h1::before,
h1::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h1::before {
  background: var(--clr-light);
  animation: typewriter var(--typewriterSpeed) steps(16) 1s forwards;
}

h1::after {
  width: 4px;
  background: var(--clr-dark);
  animation:
    typewriter var(--typewriterSpeed) steps(16) 1s forwards,
    blink 750ms steps(16) infinite;
    
}

h2 {
  font-size: 2.25em;
  margin-top: 0;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease 7s forwards;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.25em;
}

h4 {
  margin: 0;
}

hr {
  background-color: var(--clr-dark);
  color: var(--clr-dark);
  border: none;
  height: 3px;
  width: 80%;
}

.navigation {
  position: sticky;
  top: 0;
  z-index: 1;
}

.navigation,
.footer {
  display: flex;
  justify-content: space-evenly;
  color: var(--clr-light);
  background-color: var(--clr-accent);
}

.navigation span:hover,
.footer span:hover {
  cursor: pointer;
  color: var(--clr-dark);
  text-decoration: underline;
}

.main-body {
  margin: 0 auto;
  width: 75%;
}

.image {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

img {
  width: 45%;
  height: auto;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--clr-light);
}

.footer {
  margin-top: auto;
}