*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  color: var(--clr-dark);
  background-color: var(--clr-light);
}

:root {
  --clr-dark: #393D3F;
  --clr-light: #FDFDFF;
  --clr-accent: #62929E;

  --typewriterSpeed: 4.5s;
}