@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	color: #212121;
	font-size: 14px;

	@screen md {
		font-size: 16px;
	}

	@screen lg {
		font-size: 20px;
	}

	@screen xl {
		font-size: 22px;
	}
}

@layer base {
	ul {
		@apply list-disc pl-5;
	}

	a {
		@apply transition-colors duration-500 hover:cursor-pointer hover:text-accent;
	}
}

@layer components {
	.horizontal-padding {
		@apply px-[.75rem] md:px-[2rem] lg:px-[5rem];
	}

	.menu,
	.footer {
		@apply horizontal-padding flex w-full justify-between py-[1rem] text-sm;
	}

	.section-container {
		@apply horizontal-padding flex w-full flex-col gap-7 py-[4.5rem];
	}

	.section-title {
		@apply text-xl font-semibold text-custom_gray;
	}

	.underline-animate {
		@apply relative;
	}

	.underline-animate::before {
		@apply absolute bottom-0 left-0 h-0.5 w-0 bg-current transition-all duration-300 ease-out;
		content: "";
	}

	.underline-animate-active::before {
		@apply w-full;
	}

	.carousel-btn {
		@apply absolute top-1/2 z-20 -translate-y-1/2 rounded-full bg-black/40 p-2 text-white hover:bg-black/60 focus:outline-none;
	}

	#contact-form {
		@apply text-sm;
	}

	#contact-form label {
		@apply font-semibold;
	}

	#contact-form input,
	#contact-form textarea {
		@apply rounded;
	}

	#contact-form button {
		@apply w-fit self-center rounded-lg bg-black px-4 py-2 text-custom_gray;
	}
}
