@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 20px;
  text-align: center;
}

@layer base {
  h1 {
    @apply text-3xl lg:text-6xl
  }

  h2 {
    @apply text-2xl lg:text-5xl
  }

  h3 {
    @apply text-xl lg:text-4xl font-bold
  }

  h4 {
    @apply text-lg lg:text-3xl
  }

  h5 {
    @apply text-base lg:text-2xl
  }

  button {
    @apply text-white bg-emerald-green rounded
  }
}

@layer components {
  .main-content {
    @apply px-5
  }

  .section-container {
    @apply flex flex-col gap-7 w-full
  }

  .scroll-anchor {
    @apply pb-10
  }

  .header,
  .footer {
    @apply flex w-full justify-center gap-2 md:gap-7 py-1 text-cream text-nowrap bg-emerald-green;
  }

  .header>a,
  .footer>a {
    @apply text-xs md:text-xl
  }

  .work-projects-section {
    @apply w-full flex flex-col gap-7 lg:flex-row
  }
}

@layer utilities {
  a:hover {
    @apply text-charcoal-gray underline cursor-pointer
  }

  button:hover {
    @apply hover:bg-dark-emerald-green text-cream underline
  }
}