*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-dark: #000000;
  --clr-light: #FFFFFF;
  --clr-accent: #2EAF7D;
}

html,
body {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: var(--clr-dark);
  background-color: var(--clr-light);
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 1.55em;
}

h3 {
  font-size: 1.35em;
  text-decoration: underline;
}

h4 {
  font-size: 1.1em;
}

hr {
  background-color: var(--clr-dark);
  color: var(--clr-dark);
  border: none;
  height: 3px;
  width: 80%;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

@media (min-width: 700px) {
  body {
    font-size: 18px;
  }

  h1 {
    font-size: 3.25em;
  }

  h2 {
    font-size: 1.85em;
  }

  h3 {
    font-size: 1.40em;
  }

  h4 {
    font-size: 1.15em;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }

  h1 {
    font-size: 4.5em;
  }

  h2 {
    font-size: 2.25em;
  }

  h3 {
    font-size: 1.75em;
  }

  h4 {
    font-size: 1.25em;
  }
}